<!DOCTYPE html>
<html lang="en">

<head>
  <title>SANKARA SEVALAYAM</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    .large_font {
      font-size: 24px;
    }

    .small_font {
      font-size: 16px;
    }
  </style>
</head>

<body>
  <h1>SANKARA SEVALAYAM</h1>
  <p class="large_font">List of People on the given date and month</p>

  <table>
    <thead>
      <tr>
      <tr valign="top">
        <th>Name</th>
        <th>Mobile No 1</th>
        <th>Mobile No 2</th>
        <th>Occasion</th>
        <th>Occasion Date</th>
      </tr>
    </thead>

    </tr>
    {% for row in form_data %}
    <tr valign="top" class="Failure">
      <td>{{row[0]}}</td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td>{{row[4]}}</td>
    </tr>
    {% endfor %}
    <br>
  </table>
  </body>